<div>
  <h1>Bienvenido, {{user.first_name}} {{user.last_name}}!</h1>
  {{#if user.role}}
    <p>Rol: Admin</p>
  {{else}}
    <p>Rol: Usuario</p>
  {{/if}}
</div>

{{#if isValid}}
<div>
    {{#each docs}}
    <div>
        <p>Título: {{this.title}} &nbsp; Precio: {{this.price}} &nbsp; Stock: {{this.stock}}</p>
        <form action="/api/carts/64a783c447c8ba317bc07407/products/{{this._id}}" method="post">
            <button type="submit">Agregar al carrito</button>
        </form>
    </div>
    <br/>
    {{/each}}
</div>
<br/>
<div>
    {{#if hasPrevPage}}
        <a href={{prevLink}}><< Anterior</a>
    {{/if}}
    &nbsp;
    {{page}}
    &nbsp;
     {{#if hasNextPage}}
        <a href={{nextLink}}>Siguiente >></a>
    {{/if}} 
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}
<div>
    <form action="/api/sessions/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>